runpod
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
numpy==1.24.4
opencv-python-headless
Pillow
scipy
librosa
soundfile
huggingface_hub
diffusers
transformers
accelerate
omegaconf
einops
mmengine
mmcv==2.0.1
mmdet==3.1.0
mmpose==1.1.0
gfpgan
basicsr
facexlib